<div class="mt-4">
    <form method="get" action="">
        <div class="form-group">
            <label for="search-input">SEARCH</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="fill in the form">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>